.contact {
	
	&__item {
		position: relative;

		@include below (sm) {
			width: 100%;
		}

		&:before {
			content: '';
			position: absolute;
			width: 100vw;
			height: 100%;
			z-index: -1;
			top: 0;
		}

		&--form {
			padding: 3rem 1.5rem;

			&:before {
				background: $grey;
				right: -100%;
			}

			@include above (sm) {
				padding: 3rem;
			}
		}

		&--clients {
			display: flex;
    		flex-direction: column;
    		justify-content: space-between;

			&:before {
				background: $yellow;
				left: -100%;
			}
		}
	}

	&__clients {
		padding: 3rem 0;

		@include above (sm) {
			padding: 3rem 1.5rem;;
		}

		&-title {
			text-transform: uppercase;
			margin-top: 0;

			span {
				color: $yellow;
			}
		}
	}

	&__testimonial {

		h1, h2,
		h3, h4,
		h5, h6 {
			margin-bottom: 1.5rem;
		}
	}
}