.employees {

	&__header {

		&-text {
			padding-bottom: 5rem;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		@include below (xs) {
			width: 100%;
		}

		@include between (xs, sm) {
			width: 50%;
		}

		@include between (sm, md) {
			width: 33.3%;
		}
	}
		
	&__img {
		min-height: 57rem;
		background: no-repeat center center;
		background-size: cover;

		@include above (xs) {
			min-height: 36rem;
		}
	}

	&__content {
		color: $white;
		padding: 3rem;
		flex: 1;

		a {
			color: $white;
			transition: all ease .3s;
			display: block;

			&:hover {
				color: $yellow;
			}
		}
	}

	&__name {
		margin-bottom: 0;
	}	
}