
.footer {
	padding-top: 3rem;
	padding-bottom: 3rem;

	&__item {

		a {
			color: $color-body;
			transition: all ease .3s;

			&:hover {
				color: $red;
			}
		}
		
		p {
			
			@include above (sm) {
				margin-bottom: 0;
			}
		}
	}
}
