.toolbar {
	padding-top: 2rem;

	&__item {
		font-weight: 700;
		position: relative;

		@include below (sm) {
			font-size: 15px;
		}

		& + & {
			padding-left: 3rem;

			&:before {
				content: '/';
				color: $red;
				position: absolute;
				left: 1.3rem;
			}
		}

		a {
			color: $color-body;
		}
	}
}

.header {
	position: relative;
	background: $grey;
	padding-top: 2rem;
	padding-bottom: 2rem;

	@include above (sm) {
		padding-top: 1rem;
		padding-bottom: 2rem;
	}

	&__logo {
		display: flex;
		float: left;

		img {
			width: 200px;
			height: 39px;

			@include above (md) {
				width: 245px;
				height: 48px;
			}
		}
	}
}