.link-boxes {
	position: relative;
	margin-bottom: 5rem;

	&:after {
		position: absolute;
		width: 110vw;
		height: 20rem;
		background: $blue;
		bottom: -5rem;
		transform: rotate(-2deg);
		content: '';
		left: -5vw;
		z-index: -1;
	}

	&__element {
		position: absolute;
		background: $blue;
		content: '';
		height: 20rem;
		top: -5rem;
		z-index: 0;

		@include above (xl) {
			height: 25rem;
		}

		&:after {
			position: absolute;
			top: -1rem;
			width: 100%;
			height: 1rem;
			background: $yellow;
			content: '';
			z-index: -1;
		}

		&--left {
			left: -5vw;	
			width: 53.33333vw;
			transform: rotate(10deg);

			@include above (xl) {
				transform: rotate(8deg);
			}
		}

		&--right {
			right: -5vw;
			width: 100vw;
			transform: rotate(-10deg);

			@include above (xl) {
				transform: rotate(-8deg);
			}

			&:after {
				right: 0;
				width: 61%;

				@include above (sm) {
					width: 65.666%;
				}
			}
		}
	}
 
	&__header {

	}

	&__item {
		text-align: center;

		@include below (sm) {
			width: 100%;
			margin-bottom: 3rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@include above (sm) {

			&:nth-child(2) {
				border-left: 1px dotted $white;
				border-right: 1px dotted $white;
			}
		}
	}

	&__icon {
		max-height: 5.8rem;
		width: auto;
	}

	&__title {
		color: $white;
	}
}