.nav {

	&__menu {
	    list-style: none;
	    position: absolute;
	    z-index: 100;
	    width: 100%;
	    top: 1.5rem;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			position: relative;
			width: auto;
			top: 0;
			float: right;
			display: block !important;
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1rem;

		@include above (sm) {
			float: left;
			padding: .5rem 1rem;
			display: inline-block;
		}

		&.is-active > a {
			font-weight: 700;
		}

		&.is-dropdown {

			@include above (sm) {

				&:hover {

					.nav__dropdown {
						display: block !important;
					}
				}
			}
		}
	}


	&__link {
		text-transform: uppercase;
		font-weight: 300;
		color: $color-body;
		transition: all ease .3s;
	}


	&__dropdown {
		padding: 0;
		top: 100%;
		background: $white;

		@include above (sm) {
			position: absolute;
			display: none;
			background: $grey;
		}

		&.is-visible {
			display: block;
		}

		li {
			padding: 0;
			float: none;
			display: block;
		}

		a {
			padding: .5rem 1rem;
			white-space: nowrap;
			display: block;

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {
		
		@include below (sm) {
			position: fixed;
			z-index: 78888;
			top: 121px;
			right: 0;
			height: calc(100% - 121px);
			width: 100%;
			transform: translateX(100%);
			transition: all .6s ease;
			background: $white;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateX(0);
			}

			// Set body to fixed
			@at-root {		
				body.is-fixed {
					@include below (sm) {
						overflow: hidden;
						position: fixed;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}


	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		right: 1.5rem;
		cursor: pointer;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $black;
			font-weight: 600;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 2rem;
			height: 3px;
			background: $black;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $black;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.6rem;
			}

			&::after {
				top: -.6rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}