.offer {

	&__text {

		a {
			color: $color-body;
			transition: all ease .3s;
			font-weight: 700;

			&:hover {
				color: $red;
			}
		}


		i {
			font-size: 2.2rem;
			transition: all ease .3s;

			&:hover {
				color: $yellow;
			}
		}
	}

	&__cta {
		padding-top: 6rem;
		position: relative;
		font-size: 20px;

		@include below (md) {
			padding-bottom: 3rem;
		}

		a {
			color: $color-body;
			transition: all ease .3s;

			&:hover {
				color: $red;
			}
		}

		&:after {
			top: 3rem;
			content: '';
			width: 10rem;
			background: $yellow;
			height: .1rem;
			position: absolute;
		}
	}

	&__row {
		
		@include below (md) {
			margin: 0;
		}
	}

	&__related {
		min-height: 25rem;
		background: no-repeat center center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 3rem;

		@include above (md) {		
			width: calc(50% - 3rem);
			margin-left: 1.5rem;
			margin-right: 1.5rem;
		}
	}

	&__title {
		width: calc(100% + 3rem);
		left: -1.5rem;
		position: relative;
		padding: 1.5rem;
		font-family: $font-headings;
		color: $color-body;
	}

	&-gallery {

		&__item {
			min-height: 25rem;
			background: no-repeat center center;
			background-size: cover;
			width: 100%;
			margin: .75rem 0rem;
			display: inline-block;

			@include above (xs) {
				width: calc(50% - 1.5rem);
				margin: .75rem;
			}

			&--1 {
				width: 100%;
			}
		}
	}
}