.page {

	&__hero {
		background: no-repeat center center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		height: calc(55vh + 20rem);

		&:before {
			background: rgba($blue, .25);
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
		}

		@include above (sm) {
			height: 70vh;
		}	
	}
  
	&__title {
		margin-top: 0;
		text-transform: uppercase;
		position: relative;
		color: $white;

		&--black {
			color: $black;
		}
	}  
}
