.quicklinks {

	&__item {
		text-align: center;
		padding: 5rem 3rem;
		color: $color-body;
		transition: all ease .3s;
		transform: scale(1);
		z-index: 0;
		flex: 1;

		@include below (sm) {
			width: calc(100% - 3rem);
			margin: .75rem 1.5rem;
		}

		&:hover {
			background-color: $yellow;
			z-index: 10;

			@include above (sm) {
				transform: scale(1.1);
			}
		}
	}

	&__title {
		margin-top: 0;
	}
}