.btn {
	display: inline-block;
	position: relative;
	padding: 1rem 2rem;
	border-radius: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	color: $color-body;
	transition: all ease .3s;

	&--yellow {
		background: $yellow;
	}

	&--white {
		background: $white;
	}
}