//gravity forms

.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 2.8rem !important;
		text-transform: uppercase;
		margin-bottom: 3rem !important;
		margin-top: 0 !important;
	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		border: none;

		@extend .btn--yellow, .btn;

		&:hover {

		}
	}

	// Submit wrapper
	&_footer {
		
	}

	&_confirmation_wrapper {
		
	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;


	// Labels
	&_label {
		display: none !important;
	}	

	&_required {
		color: red;
	}

	&_radio {
		display: flex;

		li {
			margin-right: 1rem !important;
		}

		input {
			margin-top: 0 !important;
			border-radius: 50%;
	    	-webkit-appearance: none;
	    	background: transparent;
	    	border: .1rem solid $black;
	    	width: 1.2rem;
	    	height: 1.2rem;
	    	padding: .5rem;
	    	outline: none;
	    	position: relative;

	    	&:checked {
	    		background: $yellow;
	    	}
		}
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	&_checkbox input[type="checkbox"], .ginput_container_consent input[type="checkbox"] {
		margin-right: .5rem;
		border-radius: 0;
	    -webkit-appearance: none;
	    background: transparent;
	    border: .1rem solid $black;
	    width: 1.2rem;
	    height: 1.2rem;
	    padding: .5rem;
	    position: relative;
	    outline: none;
	    margin-top: 0!important;

	    &:before, &:after {
	    	content: '';
	    	width: .1rem;
	    	height: 1.3rem;
			background: $blue;
			position: absolute;
			top: 0;
			opacity: 0;
	    }

	    &:before {
			transform: rotate(-45deg);
			transform-origin: 20% 40%;
			right: .5rem;
	    }

	    &:after {
			transform: rotate(45deg);
			transform-origin: 20% 40%;
			left: .5rem;
	    }

	    &:checked {
	    	
	    	&:before, &:after {
				opacity: 1;
	    	}
	    }
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		padding: .5rem;
		line-height: 1 !important;
		background: transparent;
		border: none;
		border-bottom: 1px solid $black;
		-webkit-appearance: none;
		transition: all 0.3s ease;
		padding: 8px 5px!important;
		text-indent: 0;
		padding-left: 0 !important;
		border-radius: 0;

		&:hover, &:focus {
			
		}

		&:focus, &:active, &:visited {
			outline: none;
			
		}
	}
}

.ginput_container_consent {

	a {
		color: $color-body;

		&:hover {
			color: $yellow;
		}
	}
}

/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}

 #label_1_4 {
	font-size: 16px !important;
}

input::placeholder {
	color: rgba($color-body, 1);			
}


textarea::placeholder {
	color: rgba($color-body, 1);				
}

//mailchimp

.mc4wp-form  {
		
	input[type="email"] {
		border: none;
		border-bottom: 1px solid $black;
		background-color: transparent;
		width: 100%;
	}

	input[type="submit"] {
		@extend .btn, .btn--white;
		border: none;

		&:hover {
			cursor: pointer;
		}
	}
}