/* Color classes (modify as needed) */

$colors: "white" $white, "black" $black, "grey" $grey, "grey-light" $grey-light, "yellow" $yellow, "yellow-light" $yellow-light, "blue" $blue, "red" $red;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .bg--#{$label} {
    background-color: $value; 
  }
}
