/********************VARIABLES********************/

// Custom fonts example (modify as needed)
@font-face {
  font-family: 'Din 2014 light';
  src: url('../fonts/DIN2014-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Din 2014 bold';
  src: url('../fonts/DIN2014-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Fonts
$font-body: 'Din 2014 light', serif; 
$font-headings: 'Din 2014 bold', sans-serif;

// Base sizes
$base-font-size: 16px; // General font-size, also used for mobile - default 16px
$base-font-size-desktop: 16px; // Desktop font-size - default 16px 

/********* Colors *********/

$white: white;
$black: black;
$grey: #eaeae2;
$grey-light: #f7f8f3;

$yellow: #eeb40b;
$yellow-light: #fcc707;

$blue: #002741;

$red: #f32347;

// Set font colors
$color-body: $black;
$color-headings: $color-body;


// Bootstrap Grid only
//


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 480px,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 992px,
  // Large screen / desktop
  lg: 1170px,
  // Extra large screen / wide desktop
  xl: 1400px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          3rem !default; // 2rem

//missing variables
$enable-flex:               false !default;
$enable-grid-classes:        true !default;